.name {
    width: 12%;
    float: right;
    background-color: rgb(94, 143, 145);
    font-family: Snell Roundhand, cursive;
    height: 30px;
    text-align: center;
    margin-right: 20px;
    padding: 15px;
    font-size: larger;
    text-decoration: none;
    color: whitesmoke;
}


/* Below configures/messes with mobile view, didn't type this when I took Bootcamp 5/8/22 -ZM */

@media screen and (max-width: 768px) {
    .name {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
}