.card {
    background-size: cover;
    background-position: center;
    background-clip: content-box;
    border: 6px solid white;
    color: white;
    font-size: 25px;
    height: 350px;
    width: 350px;
    border-radius: 2%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: absolute;
    display: block;
    top: 5px;
    margin-top: 30px;
    background-image: url("../../assets/images/cardimage.png");
  }

@media screen and (max-width: 1400px) {
  .card {
    position: relative;
    margin: 0 auto;
    display: block;
  }
}


@media screen and (max-width: 768px) {
  .card {
    position: relative;
    margin: 0 auto;
    display: block;
  }
}

