

.footer {
    background: #E5E5E5;
    position: relative;
    margin-top: auto;
  } 
  
/* 
.footer img {
    height: 55px;
    width: 55px;
    
  } */

  /* .footer span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    background: E5E5E5;
  } */
  