.about {
    color: whitesmoke;
    font-family:cursive;
    position: relative;
    float: inherit;
    width: 65%;
    margin: auto;
    word-spacing: 2px;
    line-height: 200%;
    margin-top: 25px;
    padding: 10px;
    font-size: 24px;
    display: inline-flexbox;
}

.link {
    position: relative;
    display: block;
}


@media screen and (max-width: 1400px) {
    .about {
        float: none;
        text-align: center;
        margin: 0 auto;
    }
}