.about {
    color: whitesmoke;
    font-family:cursive;
    position: relative;
    float: inherit;
    width: 65%;
    margin: auto;
    margin-top: 15px;
    word-spacing: 2px;
    line-height: 200%;
    padding: 10px;
    font-size: 18px;
    display: inline-flexbox;
}

h1 {
    left: 30px;
    position: relative;
    text-decoration: none;
    color:rgb(31, 159, 202);

}

.link {
    position: relative;
    display: block;
}


@media screen and (max-width: 1400px) {
    .about {
        float: none;
        text-align: center;
        margin: 0 auto;
    }
}